Pods/
locker_app.xcodeproj/xcuserdata/eliotjohnson.xcuserdatad/xcschemes/locker_app.xcscheme
locker_app.xcodeproj/xcuserdata/eliotjohnson.xcuserdatad/xcschemes/xcschememanagement.plist
locker_app.xcworkspace/xcuserdata/eliotjohnson.xcuserdatad/UserInterfaceState.xcuserstate
locker_app.xcworkspace/xcuserdata/eliotjohnson.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

locker_app.xcworkspace/xcuserdata/sean.xcuserdatad/UserInterfaceState.xcuserstate
