<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>capstone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2B56B0451BC1872000AFB1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B56B05B1BC1872000AFB1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B56B0661BC1872000AFB1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
